/* html, body {
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
} */

:root {
    --form-box-w: 40rem;
    --inp-box-w: calc((var(--form-box-w) - 3rem) / 2);
}

@font-face {
    font-family: Beaufort;
    src: url("assets/Beaufort Bold.otf") format("opentype");
}

@font-face {
    font-family: Spiegel;
    src: url("assets/spiegel.ttf") format("truetype");
}

html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    display: flex;

    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

#image {
    min-height: 100%;
    width: 40%;
    
    background-image: url("assets/image.png");
    background-position: center;
}

#right {
    box-sizing: border-box;
    min-height: 100%;
    width: 60%;

    border-left: 6px solid #dc3d4b;
    background-color: rgb(30, 31, 37);
}

#right img {
    filter: invert(24%) sepia(92%) saturate(1957%) hue-rotate(332deg) brightness(95%) contrast(89%);
    height: auto;
    width: 4rem;
}

#content {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: darkgray;
    font-family: Spiegel;
}

h1 {
    font-family: Beaufort;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===================FORM CONTROLS================ */

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    
    padding: 0;
    width: var(--form-box-w);
    
    font-size: 2rem;
}

li {
    list-style: none;
    position: relative;
}

li:last-child {
    margin-top: 2rem;
}

label {
    position: relative;
    left: 6px;
    /* top: 30px;
    z-index: -1; */

    font-size: 1.2rem;
}

input {
    /* appearance: none; */

    display: block;
    box-sizing: border-box;
    
    width: var(--inp-box-w);
    height: 3rem;
    padding-left: 0.5rem;
    
    font-family: Spiegel;
    font-size: 1.7rem;

    border: 2px solid darkgray; 
    border-radius: 10px;
    background-color: rgb(30, 31, 37);
    color: lightgray;
}

input:focus {
    outline: none;

    border: 0;
    border: 2px solid #dc3d4b;
}

input[type="email"] {
    width: calc(var(--inp-box-w) * 2 + 1rem);
}

p > a {
    color: #dc3d4b;
}

p > a:hover {
    color: #dc9c3d;
}

button {
    width: 14rem;
    height: 3rem;

    border: 0;
    border-radius: 20px;
    background-color: #dc9c3d;
    color: white;

    font-family: Beaufort;
    font-size: 1.3rem;
}

button:hover {
    background-color: #dc3d4b;
}

button:focus {
    background-color: #bb333e;
}

/* ============================================ */

@media only screen and (max-width: 1068px) {
    #image {
        min-height: 0;
        width: 0;
        
        background-image: none;
    }

    #right {
        width: 100vw;
        padding: 0;

        border: 0;
    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    ul {
        display: block;
        width: var(--inp-box-w);
        
        padding: 0;
        margin-top: 0;
        
        font-size: 2rem;
    }
    
    li {
        padding: 0;
        margin: 0;
    }

    label {
        font-size: 1rem;
    }

    input[type="email"] {
        width: 0;
    }

    input, input[type="email"] {
        width: var(--inp-box-w);
        
        font-size: 1.2rem;
    }
}