html, body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: lightgray;
}

body {
    display: flex;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 20px;
    margin-bottom: 2em;
    margin-right: 1em;
}

input {
    width: 16em;
    min-height: 2em;
}

input[type="email"] {
    width: calc(32em + 1.7em);
}

li:last-child {
    margin-top: 2em;
} 

#bg, #main {
    width: 50vw;
    height: 100vh;
}

#main {
    background-color: rgb(30, 31, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main > div {
    color: rgb(194, 194, 194);
    border: 3px solid #dc3d4b;
    padding: 1em 0 1em 1em;
    width: 30em;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #042e27;
    border-radius: 20px;
}

ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}